<body>
    <div class="main-content">
        <h1 style="text-align: left;">Welcome to CSE Motors!</h1>
        <div class="image-container">
            <img src="images/vehicles/delorean.jpg" alt="DMC Delorean">
            <div class="delorean-section">
              <p><strong>DMC Delorean</strong></p>
              <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
              </ul>
              <a href="#" class="button">Own Today</a>
            </div>
          </div>
    </div>

    <div class="delorean-container">
        <div class="delorean-upgrades">
          <p><strong>Delorean Upgrades</strong></p>
          <div class="grid">
            <div>
                <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <li><a href="#">Flux Capacitor</a></li>
              </div>
              <div>
                <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                <li><a href="#">Flame Decalsr</a></li>
              </div>
              <div>
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <li><a href="#">Bumper Stickers</a></li>
              </div>
              <div>
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <li><a href="#">Hub Caps</a></li>
              </div>
          </div>
        </div>
      
        <div class="delorean-reviews">
          <p><strong>Delorean Reviews</strong></p>
          <ul>
            <li>"So fast it's almost like traveling in time!" (4/5)</li>
            <li>"Coolest ride on the road!" (5/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4/5)</li>
            <li>"80's livin' and I love it!" (5/5)</li>
          </ul>
        </div>
      </div>


   
</body>