<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        .error-page {
            position: relative;
            width: 50%;
            height: 50vh; 
            background: url('/images/vehicles/crashedcar.jpg') no-repeat center center;
            background-size: cover;
            display: flex;
            justify-content: flex-start; 
            align-items: flex-start; 
            padding: 20px;
            box-sizing: border-box;
        }

        .error-container {
            background: rgba(0, 0, 0, 0.274);
            padding: 30px;
            border-radius: 10px;
            text-align: left; 
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            max-width: 100%;
            margin-top: -17px;
            height: 485px;
            width: 2300px;
        }

        h1 {
            margin-bottom: 15px;
            font-size: 2em;
        }

        p {
            font-size: 1.2em;
        }

        @media (max-width: 768px) {
            .error-container {
                max-width: 95%;
                padding: 15px;
            }

            h1 {
                font-size: 1.5em;
            }

            p {
                font-size: 1em;
            }
        }
    </style>
</head>
<body>
    <div class="error-page">
        <div class="error-container">
            <h1>Erro <%= status %></h1>
            <p><%= message %></p>
        </div>
    </div>
</body>
</html>
